<h2> Type des evenements</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"> type</th>
            <th scope="col"> Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> sportif</th>
            <td>
                <button class = "btn btn-info"> GO</button>
            </td>
        </tr>

        <tr>
            <th scope="row"> santé</th>
            <td>
                <button class = "btn btn-info"> GO</button>
            </td>
        </tr>
    </tbody>
</table>
